.footer{
    background: #241201;
    display: flex;
    flex-direction: column;
    padding: 4rem 4rem;
    text-align: center;
}
.footer-flex-item{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    row-gap: 2rem;
}
.magnum-footer-logo{
    margin-bottom: 2rem;
}

.footer-title{
    text-decoration: none;
    color:#fff;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    transition: 0.1s ease-in-out;
}

.footer-title:hover{
    color:#bd9640;
    transition: 0.1s ease-in-out;
}

.footer-social-flex{
    display: flex;
    column-gap: 1.5rem;
    align-content: center;
    justify-content: center;

}

.social-icon{
    color: #fff;
    font-size: 2rem;
}

.footer-unilever{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.unilever-info{
    margin-top: 1rem;
    text-decoration: none;
    color: #fff;
}

@media screen and (min-width:968px) {
    .footer{
        padding: 4rem ;
    }
    
    .footer-main-flex{
        display: flex;
        justify-content: center;
        align-content: flex-start;
        column-gap: 8rem;
        max-width: 100%;
        margin-left: 6rem;
        
    }
    .footer-flex-item{
        flex-direction: column;
        margin-bottom: 2rem;
        row-gap: 1rem;
        max-width: 200px;
        white-space: nowrap;
        
    }
    .footer-title{
        line-height: 1;
        align-self: center;
        
        
    }
}